    .header {
    height: 80px;
    background: #616161;
}
.conteiner {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.nav {
    margin-top: 8px;
}
.logo_img {
    width: 76px;
}
.logo_title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.list_nav {
    display: flex;
    justify-content: space-around;
}
.link_nav {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.link_nav:hover {
    text-shadow: 5px 4px 2px rgba(0, 0, 0, 0.25);
    color: black;
    font-weight: 700;
}
.item_nav {
    padding-right: 30px;
}
.instrument {
    display: flex;
    align-items: center;
}
.bell {
    width: 28px;
    margin-right: 16px;
}
.house {
    width: 70px;
}
.main {
    background-color: #515151;
}
.title_content {
    padding-top: 47px;
    padding-bottom: 18px;
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content {
    display: flex;
    justify-content: space-between;
}
.sab_title_content {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.225px;
    text-align: center;
}
.text_content {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.225px;
    padding-top: 16px;
    margin-left: 10px;
}
.container_video {
    flex-direction: column;
}
.video_YT {
    border: 30px solid #616161;
    border-radius: 50px;
}
.title_video {
    padding-top: 47px;
    padding-bottom: 10px;
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}
.video {
    height: 435px;
}

.container_footer {
    display: flex;
    justify-content: space-between;
}
.title_galereya {
    padding-top: 47px;
    padding-bottom: 10px;
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}
.list_galereya {
    display: flex;
    flex-wrap: wrap;
}
.item_galereya {
    width: 25%;
}
.img_galareya {
    outline: 3px solid black;
    outline-offset: -10px;
    padding: 10px;
    height: 100%;
    width: 100%;
}
.img_obertka img {
    background-color: black !important;
}

.burger {
    background-color: transparent;
    width: 60px;
    height: 60px;
    display: none;
}
.burger_line {
    background-color: black;
    width: 60px;
    height: 10px;
    margin-bottom: 10px;
}
.burger_line3 {
    margin-bottom: 0;
}
.podval {
    background: #616161;
    padding: 20px 20px;
    align-items: center;
}
.link_podval {
    padding-left: 38px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.footerlist_info {
    display: flex;
    align-items: center;
}
.footer_list {
    display: flex;
    align-items: center;
}
.podval_img {
    display: flex;
    align-items: center;
}
.footeritem {
    margin-right: 30px;
}
@media screen and (max-width: 864px) {
    .conteiner {
        max-width: 730px;
    }
    .link_nav {
        font-size: 18px;
    }
    .burger {
        display: block;
    }
    .nav {
        display: none;
    }
    .content {
        flex-direction: column;
    }
    .item_galereya {
        width: 50%;
    }
    .container_footer {
        flex-direction: column;
    }
    .footerlist_info {
        margin-bottom: 15px;
    }
    .footer_info:first-child .link_podval {
        padding-left: 0;
    }
}
@media screen and (max-width: 460px) {
    .conteiner {
        max-width: 355px;
    }
    .instrument {
        display: none;
    }
    .img_content {
        max-width: 355px;
    }
    .title_content {
        font-size: 21px;
        font-weight: 500;
        padding-top: 20px;
    }
    .sab_title_content {
        font-size: 15px;
    }
    .text_content {
        font-size: 14px;
    }
    .video_YT {
        width: 350px;
        border: #616161 solid 20px;
        border-radius: 30px;
        height: 250px;
    }
    .video {
        height: 100%;
    }
    .title_galereya {
        text-align: center;
        padding-top: 20px;
        font-size: 24px;
    }
    .title_video {
        font-size: 24px;
    }
    .link_podval {
        font-size: 14px;
        padding-left: 20px;
    }
    .footer_info:first-child .link_podval {
        padding-left: 0;
    }   
}
